<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="2.10.0-beta1" targetFramework="net4" />
  <package id="DockPanelSuite.ThemeVS2012Light" version="2.10.0-beta1" targetFramework="net4" />
  <package id="DotNetZip" version="1.9.7" targetFramework="net4" />
  <package id="jacobslusser.ScintillaNET" version="3.5.6" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net4" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net4" />
</packages>